# Tuples

In [3]:
## Creation of Tuples with Parenthesis
t1=()
type(t1)

t2=tuple()
type(t2)

tuple

In [5]:
## Creation of Tuples without Parenthesis

tuple1=5,
type(tuple1)

tuple

In [10]:
# create tuple with single element
g=8,
print(type(g))
print(g)

<class 'tuple'>
(8,)

In [13]:
## Accessing Elements
tuple2=(12,"India","Welcome")
tuple2[2]

'Welcome'

In [44]:
## Tuple Concatention
et=(2,4,6,8,18,20)
ot=(1,3,5,7)

print(et+ot)
print(et)

(2, 4, 6, 8, 18, 20, 1, 3, 5, 7)
(2, 4, 6, 8, 18, 20)

In [19]:
## Tuple Unpacking:

v1,v2,v3,v4=et
print("v1=",v1,"v2=",v2, "\n",v3,v4)

v1= 2 v2= 4
 6 8

In [20]:
## Find length of Tuple

len(et)

4

In [22]:
## Checking Membership:

2 in et

True

In [26]:
l1=[4,7]
l1*2

[4, 7, 4, 7]

In [30]:
## Repetition

r=et*2
r

(2, 4, 6, 8, 2, 4, 6, 8)

In [27]:
for i in et:
    print(i*2)

4
8
12
16

In [29]:
## Slicing
et[:2]

(2, 4)

In [32]:
## Count Occurences
print(r)
r.count(8)

(2, 4, 6, 8, 2, 4, 6, 8)

2

In [33]:
## Index of Element:
r.index(8)

3

In [38]:
## Convert list to Tuple:
l1=[4,7]
l1.append("Newvalue")
print(l1)

l1=tuple(l1)
l1

[4, 7, 'Newvalue']

(4, 7, 'Newvalue')

In [47]:
## Tuple Comparison:
ot>et

False

In [49]:
## Zip Tuples:

Continent=("Asia",'Europe',"Australia")
countries=("Japan","Sweden","Australia")
zip(Continent,countries)

In [50]:
tuple(zip(Continent,countries))

(('Asia', 'Japan'), ('Europe', 'Sweden'), ('Australia', 'Australia'))

In [51]:
## Tuple as Key in Dictionary:
dict1={
    (2,4,6):"Even",
    (1,3,5):"Odd"
}
dict1

{(2, 4, 6): 'Even', (1, 3, 5): 'Odd'}

In [53]:
## Deleting a tuple
del(et)

NameError: name 'et' is not defined